<table class="table table-borderless">
    <thead class="thead-dark">
      <tr>
        <th scope="col">BOOKING SUMMARY</th>
        <th scope="col">LAST 10 SALES</th>
        <th scope="col">CURRENT USERS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <table>
          <tr>
            <td>
              Today's Booking
            </td>
            <td>
            123
            </td>
          </tr>
        </table>
      
        <td></td>
        <td>
          Mobile Users

        </td>
      </tr>
      <tr>
        <td>Booked on Mobile</td>
        <td></td>
        <td>Web Users</td>
      </tr>
      <tr>
        <td>Booked on Web</td>
        <td></td>
        <td>App Users</td>
      </tr>
      <tr>
        <td>Booked on App</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <app-overall-sales-line-chart></app-overall-sales-line-chart>

<app-operator-sale-detail></app-operator-sale-detail>