.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.69);
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white !important;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration-line: underline;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-list {
  /* background: inherit; */
  color: white !important;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration-line: underline;
}


/* .mat-list {
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration-line: underline;
}

.sidenav-container {
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
} */
