<div class="row">
    <div class="col-sm-4">
        <table class="table table-borderless">
            <thead>
              <tr>  
                <th colspan="2">Top Operator Sale Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let details of operatorSaleDetail; let myValue = index">
                <th scope="row">{{details.TravelsName}}</th>
                <td>{{details.Amount}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-4">
        <table class="table table-borderless">
            <thead>
              <tr>  
                <th colspan="2">Top Operator Sale Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-4">
  </div>